{% extends 'blog/base.html' %}
{% load static %}
{% block head_block %}
  <title>About</title>
{% endblock %}

{% block content %}
  <div class="col-lg-5">
    <img class="myphoto"  src="{% static 'images/anya.jpg' %}" alt="">
  </div>

  <div class="col-lg-7">
    <div class="aboutme-wrap">
      <div class="aboutme-text">
        <h1 class="roboto">About me</h1>
        <p>My name is Anna Spitsyna, 29 y.o. I am a beginner Python programmer.</p>
        <p>I've been learning programming since February, 2020.</p>
        <p>I am also interested in front-end technologies.</p>
        <p>I like simple design, my dog and the south of Spain.</p>
        <p>Bloggme is my test single-user blog made on Django as part of a Udemy course.</P>
      </div>
    </div>
  </div>

{% endblock %}
