{% extends 'blog/base.html' %}
{% block head_block %}
  <title>Home</title>
{% endblock %}

{% block content %}
<div class="col-lg-8">
  <h1 class="roboto">Welcome to Bloggme!</h1>
  <h6>Check out the latest posts</h6>
  <hr>
  {% for post in post_list %}
  <div class="post">
    <h3> <a  class="posttitle lora" href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
    <p class="postcontent">{{ post.text|linebreaksbr|truncatewords:25 }}</p>
    <div class="postdata d-flex flex-row justify-content-between">
      <p> <span class="fas fa-calendar-alt"></span> {{ post.published_date|date:"D M Y" }}</p>
      <p> <span class="fas fa-comment"></span> {{ post.comments.count }}</p>
    </div>
  </div>
  {% empty %}
    {% if user.is_authenticated %}
      <p>You have no posts yet. Create your first post now!</p>
    {% else %}
      <p>There're no posts on Bloggme. Login to create one!</p>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
